{% extends 'admin/base_site.html' %}
{% load url from future %}
{% load i18n admin_urls admin_static admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='judging' %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; Rating shortlists
</div>
{% endblock %}
{% block content %}
    <div id="changelist">

    <h2>Rating shortlists</h2>

    {% if include_wildcard %}
        <p>Currently including wildcard ratings. <a href="?include_wildcard=0" class="button">Exclude wildcards</a></p>
    {% else %}
        <p>Current excluding wildcard ratings. <a href="?include_wildcard=1" class="button">Include wildcards</a></p>
    {% endif %}

    <h3>Overall by Genre</h3>

    {% for g in genres %}

        <h4>{{ g.genre }}</h4>

        <table>
        <thead>
        <tr>
            <th>Ranking</th><th>Entry</th><th>Average rating</th>
        </tr>
        </thead>
            <tbody>
            {% for r in g.shortlist %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'admin:entries_entry_change' r.id %}">{{ r }}</a></td>
                    <td>{{ r.avg }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

    <h3>Summary by criterion</h3>
    {% for c in criteria %}
    <h4>{{ c.criterion }}</h4>
        <table>
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Entry</th>
                <th>Genre</th>
                <th>Average rating</th>
                {% if c.criterion.wildcard_allowed %}
                    <th>No. wildcard ratings</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for r in c.shortlist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'admin:entries_entry_change' r.entry.id %}">{{ r.entry }}</a></td>
                <td>{{ r.entry.get_genre }}</td>
                <td>{{ r.avg }}</td>
                {% if c.criterion.wildcard_allowed %}
                    <td>{{ r.wildcard_count }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    </div>

{% endblock %}
