{% extends 'base.html' %}
{% block main %}
    <h1>Judging home</h1>
<p>Welcome to the Watersprite judging system.  Your allocated entries are shown below. Click on an entry to view the film{% if user.get_profile.enable_rating %} and record your rating{% endif %}.</p>
    {% if entries %}
    {% if user.get_profile.entry_package.label %}
    <h2>{{ user.get_profile.entry_package.label }}</h2>
    {% endif %}
    <ul>
    {% for e in entries %}
        {% if e.is_complete %}
        <li>
            {% if e.is_converted %}
                <a href="{% url 'entry_rating' e.id %}">
                {{ e }}</a> ({{ e.film_length }})
            {% else %}
                {{ e }}</a> [waiting conversion]
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p><b>You have no entries left to rate!</b></p>
    {% endif %}
    {% if already_rated and user.get_profile.enable_rating %}
    <p>Your existing ratings are shown below:</p>
    <ul>
    {% for e in already_rated %}
        <li>{{ e }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>If you have any problems, please email <a href="mailto:webmaster@watersprite.org">webmaster@watersprite.org</a></p>
{% endblock %}
