{% extends 'base.html' %}
{% block main %}
    {% if user.get_profile.enable_rating %}
    <form method="post">
    {% endif %}
    <p><a href="{% url 'judging_index' %}">&laquo; back</a></p>
        <div class="video-player">
            <video width="512" height="384" controls>
                <source src="{{ entry.film_file_converted.url }}" type="video/mp4">
                Your browser does not support the video tag. You must be using Internet Explorer 9, Google Chrome or Apple Safari.
            </video>
        </div>
        <h1>{{ entry.film_name }}</h1>
        <p><strong>Synopsis:</strong> {{ entry.film_synopsis }}</p>
        <p><strong>Genre:</strong> {{ entry.get_genre }}</p>
        <p><a href="{{ entry.film_file_converted.url }}">Advanced</a></p>
    {% if user.get_profile.enable_rating %}
        <div class="rating">
            <label for="id_overall">Overall rating:</label>
            <div class="slider" id="slider_overall"></div>
            <span class="value"><input type="text" name="overall" id="id_overall" value="5" />/10</span>
        </div>
        {% for c in entry.award_categories.all %}
            <div class="rating">
                <label for="id_criteria_{{ c.id }}">{{ c }}:</label>
                <div class="slider" id="slider_{{ c.id }}"></div>
                <span class="value"><input type="text" name="criteria[{{ c.id }}]" id="id_criteria_{{ c.id }}" value="5" />/10</span>
            </div>
        {% endfor %}
        <div class="rating-suggest" id="rating_suggest">
            <div class="select-form">
                <p>Do you feel this film merits consideration in any of these categories? Please note, this is not obligatory and you are free to submit your scores without completing this section.</p>
                {% for c in suggest_criteria %}
                <input type="checkbox" id="rating_suggest_{{ c.id }}" data-criterion-id="{{ c.id }}" />
                    <label for="rating_suggest_{{ c.id }}">{{ c.name }}</label>
                {% endfor %}
            </div>

        </div>
        <br clear="all" />
            {% csrf_token %}
            <label for="id_comment">Comment:</label>
            <textarea name="comment" id="id_comment"></textarea>
        <div>
            <button type="submit" name="submit">Submit</button>
            <button type="submit" name="submit_next">Submit and next</button>
        </div>
        </form>

        <script type="text/javascript">
        $(function() {
            var sliderConfig = function(s) {
                return {
                    value: 5,
                    min: 1,
                    max: 10,
                    step: 1,
                    slide: function( event, ui ) {
                        s.parent().find('input').val(ui.value);
                    }
            }
            };
            $('.slider').each(function() {
                $(this).slider(sliderConfig($(this)));
            });

            $('form').submit(function() {
                if ($('#id_comment').val() == '') {
                    alert('You must enter a comment');
                    return false;
                }
            });

            $('#rating_suggest').find('input[type=checkbox]').change(function() {
                var cname = $('label[for='+this.id+']').html();
                var cid = $(this).data('criterion-id');
                if (this.checked) {
                    // Add a new box
                    var newRating = $('.rating').first().clone();
                    newRating.find('.slider').remove();
                    newRating.find('label').attr('for','id_criteria_'+cid)
                            .html(cname);
                    $("<div class='slider'></div>").insertAfter(newRating.find('label'));
                    newRating.find('input').attr('id','id_criteria_'+cid)
                            .attr('name','criteria['+cid+']');
                    newRating.attr('id', 'rating_cid_'+cid)
                            .appendTo('#rating_suggest').hide().fadeIn()
                            .find('.slider').slider(sliderConfig(newRating.find('.slider')));
                } else {
                    $('#rating_cid_'+cid).fadeOut( function() { $(this).remove() });
                }
            })
        });
        </script>
    {% endif %}
{% endblock %}
