{% extends 'base.html' %}

{% block main %}

    <div class="judging-welcome">
        <div class="overlay" id="judging_welcome_overlay">
            <a class="close-button" href="#" id="close_button">&times;</a>
        </div>

        <iframe src="http://player.vimeo.com/video/81878866?color=ffffff&amp;autoplay=1" width="896" height="504" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay class="judging-welcome-video"></iframe>

        <div class="continue">
            <form action="" method="post">
            {% csrf_token %}
                <button type="submit" name="continue" value="continue">Continue to portal <span class="icon icon-chevron-right"></span></button>
            </form>
        </div>

    </div>


    <script type="text/javascript">

    $(function() {
        var $f = $('iframe'),
            url = $f.attr('src').split('?')[0];

        // Helper function nicked off vimeo website
        function post(action, value) {
            var data = { method: action };

            if (value) {
                data.value = value;
            }

            $f[0].contentWindow.postMessage(JSON.stringify(data), url);
        }

        function hideOverlay() {
            $('#judging_welcome_overlay').hide('fade', 2000);
            post('pause');
        }

        function showOverlay() {
            $('#judging_welcome_overlay').show('fade', 2000);
            post('play');
        }

        function onMessageReceived(e) {
            var data = JSON.parse(e.data);

            console.log(data);
            switch (data.event) {
                case 'ready':
                    post('addEventListener', 'pause');
                    post('addEventListener', 'play');
                    post('addEventListener', 'finish')
                    break;

                case 'play':
                    showOverlay();
                    break;

                case 'finish':
                    hideOverlay();

            }
        }

        if (window.addEventListener) {
            window.addEventListener('message', onMessageReceived, false);
        }
        else {
            window.attachEvent('onmessage', onMessageReceived, false);
        }


        $('#close_button').click(hideOverlay)
    });


    </script>

{% endblock %}