{% extends 'base.html' %}

{% block main %}

    <h1>Log in</h1>

    <form method="post">
    {{ form }}
    <p><button type="submit">Log in</button></p>
    {% csrf_token %}
    </form>

{% endblock %}