/* Globals */
@font-face {
    font-family: 'Interstate';
    src: url('http://www.watersprite.org.uk/wp-content/themes/watersprite_onley/css/interstate-boldcompressed-webfont.eot');
    src: url('http://www.watersprite.org.uk/wp-content/themes/watersprite_onley/css/interstate-boldcompressed-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://www.watersprite.org.uk/wp-content/themes/watersprite_onley/css/interstate-boldcompressed-webfont.woff') format('woff'),
    url('http://www.watersprite.org.uk/wp-content/themes/watersprite_onley/css/interstate-boldcompressed-webfont.ttf') format('truetype'),
    url('http://www.watersprite.org.uk/wp-content/themes/watersprite_onley/css/interstate-boldcompressed-webfont.svg#interstateboldcompressed') format('svg');
    font-weight: normal;
    font-style: normal;
}