/* line 1, ../sass/print.sass */
body {
  background: white;
  color: black;
}

/* line 5, ../sass/print.sass */
.print-only {
  font-size: 3em;
}

/* line 8, ../sass/print.sass */
.screen-only {
  display: none;
}
