@charset "UTF-8";
/* line 3, ../sass/_fonts.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Interstate Light";
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.eot");
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.woff") format("woff"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.ttf") format("truetype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.svg#interstatelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Interstate Thin";
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.eot");
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.woff") format("woff"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.ttf") format("truetype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT Std Condensed";
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.eot");
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT Std Condensed";
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.eot");
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* normalize.scss v2.0.1 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* Corrects `block` display not defined in IE 8/9. */
/* line 54, ../sass/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* Corrects `inline-block` display not defined in IE 8/9. */
/* line 70, ../sass/_normalize.sass */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
/* line 82, ../sass/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Addresses styling for `hidden` attribute not present in IE 8/9. */
/* line 89, ../sass/_normalize.sass */
[hidden] {
  display: none;
}

/* ==========================================================================
 * Base
 * ========================================================================== */
/* 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units. */
/* line 103, ../sass/_normalize.sass */
html {
  font-family: "Interstate Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/* Addresses `font-family` inconsistency between `textarea` and other form
 * elements in IE 6/7. */
/* line 119, ../sass/_normalize.sass */
button,
input,
select,
textarea {
  font-family: "Interstate Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Removes default margin. */
/* line 128, ../sass/_normalize.sass */
body {
  margin: 0;
}

/* ==========================================================================
 * Links
 * ========================================================================== */
/* Addresses `outline` inconsistency between Chrome and other browsers. */
/* line 138, ../sass/_normalize.sass */
a:focus {
  outline: thin dotted;
}

/* Improves readability when focused and also mouse hovered in all browsers. */
/* line 144, ../sass/_normalize.sass */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
/* Sets 1 unit of vertical rhythm on the top and bottom margin. */
/* line 155, ../sass/_normalize.sass */
p,
pre {
  margin: 1.5em 0;
}

/* line 159, ../sass/_normalize.sass */
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px;
}

/* Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome. */
/* line 167, ../sass/_normalize.sass */
h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 174, ../sass/_normalize.sass */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 179, ../sass/_normalize.sass */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 184, ../sass/_normalize.sass */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 189, ../sass/_normalize.sass */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 194, ../sass/_normalize.sass */
h6 {
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Addresses styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 202, ../sass/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 208, ../sass/_normalize.sass */
b,
strong {
  font-weight: bold;
}

/* Addresses styling not present in Safari 5 and Chrome. */
/* line 215, ../sass/_normalize.sass */
dfn {
  font-style: italic;
}

/* Addresses styling not present in IE 8/9. */
/* line 221, ../sass/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* Corrects font family set oddly in Safari 5 and Chrome. */
/* line 228, ../sass/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* Improves readability of pre-formatted text in all browsers. */
/* line 240, ../sass/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Sets consistent quote types. */
/* line 248, ../sass/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Addresses inconsistent and variable font size in all browsers. */
/* line 254, ../sass/_normalize.sass */
small {
  font-size: 80%;
}

/* Prevents `sub` and `sup` affecting `line-height` in all browsers. */
/* line 260, ../sass/_normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 267, ../sass/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 270, ../sass/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
 * Lists
 * ========================================================================== */
/* Set 1 unit of vertical rhythm and a consistent indentation. */
/* line 280, ../sass/_normalize.sass */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}

/* line 287, ../sass/_normalize.sass */
dl {
  padding: 0;
}

/* line 290, ../sass/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* Corrects list images handled incorrectly in IE 7. */
/* line 296, ../sass/_normalize.sass */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
/* Removes border when inside `a` element in IE 8/9. */
/* line 308, ../sass/_normalize.sass */
img {
  border: 0;
  /* Improves image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/* Corrects overflow displayed oddly in IE 9. */
/* line 317, ../sass/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 * Figures
 * ========================================================================== */
/* Addresses margin not present in IE 8/9 and Safari 5. */
/* line 327, ../sass/_normalize.sass */
figure {
  margin: 0;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
/* Corrects margin displayed oddly in IE 6/7. */
/* line 337, ../sass/_normalize.sass */
form {
  margin: 0;
}

/* Define consistent border, margin, and padding. */
/* line 343, ../sass/_normalize.sass */
fieldset {
  border-color: silver;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/* 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects alignment displayed oddly in IE 6/7. */
/* line 357, ../sass/_normalize.sass */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/* 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 * 4. Improves appearance and consistency with IE 6/7. */
/* line 372, ../sass/_normalize.sass */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */
}

/* Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/* line 392, ../sass/_normalize.sass */
button,
input {
  line-height: normal;
}

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6. */
/* line 405, ../sass/_normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/* Re-set default cursor for disabled elements. */
/* line 420, ../sass/_normalize.sass */
button[disabled],
input[disabled] {
  cursor: default;
}

/* 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6. */
/* line 430, ../sass/_normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). */
/* line 447, ../sass/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/* Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X. */
/* line 457, ../sass/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Removes inner padding and border in Firefox 4+. */
/* line 464, ../sass/_normalize.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers. */
/* line 473, ../sass/_normalize.sass */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
/* Remove most spacing between table cells. */
/* line 486, ../sass/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/screen.sass */
body {
  background: black;
  width: 960px;
  padding: 1.5em 0 19em 0;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue LT Std Condensed", Helvetica, Arial, sans-serif;
  color: #445a62;
}

/* line 19, ../sass/screen.sass */
a {
  color: #888888;
  font-weight: bold;
  letter-spacing: -1px;
}
/* line 23, ../sass/screen.sass */
a:hover {
  color: #a3c1ad;
}

/* line 26, ../sass/screen.sass */
label, strong {
  letter-spacing: -1px;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-blueprint-0.0.1/framework/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 31, ../sass/screen.sass */
form label {
  margin-top: 0.4em;
  display: block;
}
/* line 34, ../sass/screen.sass */
form label.tc-agree {
  display: inline;
}
/* line 36, ../sass/screen.sass */
form .helptext {
  font-size: 0.9em;
  display: block;
}
/* line 39, ../sass/screen.sass */
form table {
  margin: auto;
}
/* line 41, ../sass/screen.sass */
form table th {
  text-align: right;
  vertical-align: top;
}
/* line 44, ../sass/screen.sass */
form table td {
  text-align: left;
}
/* line 46, ../sass/screen.sass */
form table th, form table td {
  padding: 0.3em;
}
/* line 49, ../sass/screen.sass */
form fieldset p {
  text-align: center;
}
/* line 51, ../sass/screen.sass */
form .film-file .helptext {
  width: 15em;
}
/* line 53, ../sass/screen.sass */
form .actions {
  margin: 1.5em;
  text-align: right;
}
/* line 56, ../sass/screen.sass */
form .word-count-wrap {
  display: block;
  font-weight: bold;
}

/* line 60, ../sass/screen.sass */
.error, .errorlist {
  color: #bb0000;
}

/* line 63, ../sass/screen.sass */
.errorlist {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* line 68, ../sass/screen.sass */
.error {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid #aa0000;
}

/* line 72, ../sass/screen.sass */
.warning {
  background: rgba(230, 190, 0, 0.2);
  border: 1px solid #e6be00;
  color: #875a00;
}

/* line 77, ../sass/screen.sass */
.success {
  background: rgba(0, 255, 0, 0.2);
  border: 1px solid #00aa00;
  color: #00aa00;
}

/* line 82, ../sass/screen.sass */
#id_address {
  height: 4em;
}

/* line 85, ../sass/screen.sass */
.submission-method ul {
  list-style: none;
  margin: 0;
}
/* line 88, ../sass/screen.sass */
.submission-method ul li {
  float: left;
  margin-right: 1em;
}

/* line 93, ../sass/screen.sass */
fieldset table {
  width: 100%;
}
/* line 95, ../sass/screen.sass */
fieldset th {
  width: 20%;
}
/* line 97, ../sass/screen.sass */
fieldset td {
  width: 80%;
}

/* line 101, ../sass/screen.sass */
#submission_fieldset th {
  width: 40%;
}
/* line 103, ../sass/screen.sass */
#submission_fieldset td {
  width: 60%;
}

/* line 107, ../sass/screen.sass */
#tc_fieldset table {
  width: auto;
}
/* line 109, ../sass/screen.sass */
#tc_fieldset th, #tc_fieldset td {
  width: auto;
}
/* line 111, ../sass/screen.sass */
#tc_fieldset th {
  width: 66.6%;
  padding-left: 6%;
  padding-right: 1%;
}
/* line 116, ../sass/screen.sass */
#tc_fieldset .judging-portal-agree label {
  font-weight: normal;
  letter-spacing: normal;
}

/* line 120, ../sass/screen.sass */
header {
  position: relative;
}
/* line 122, ../sass/screen.sass */
header h1 {
  display: inline;
  margin-left: 1.5em;
  font-size: 3em;
  color: white;
  font-weight: normal;
}

/* line 129, ../sass/screen.sass */
.application {
  background: white;
  padding: 2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 133, ../sass/screen.sass */
.application fieldset {
  border: 0;
  background: #f6f6f6;
  padding: 0;
  padding-bottom: 1.5rem;
}
/* line 138, ../sass/screen.sass */
.application fieldset legend {
  width: 100%;
  background: #90a998;
  font-family: "Helvetica Neue LT Std Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
/* line 146, ../sass/screen.sass */
.application button[type="submit"], .application .button {
  background: #90a998;
  color: white;
  border: 0;
  padding: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 155, ../sass/screen.sass */
.application button[type="submit"]:hover, .application .button:hover {
  background: #adbfb3;
}

/* line 159, ../sass/screen.sass */
#working_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.9);
  z-index: 9999;
  text-align: center;
  display: none;
}
/* line 169, ../sass/screen.sass */
#working_overlay .text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}

/* line 176, ../sass/screen.sass */
.progress-bar {
  width: 50%;
  border: 2px solid #bbbbcc;
  margin: 2em auto;
  text-align: center;
  position: relative;
}
/* line 182, ../sass/screen.sass */
.progress-bar .upload-pc {
  color: #bbbbcc;
  font-size: 0.8em;
}
/* line 185, ../sass/screen.sass */
.progress-bar .inner {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #bbbbcc;
  z-index: -1;
}

/* line 195, ../sass/screen.sass */
.video-player {
  float: right;
  background: black;
  color: white;
  margin-left: 1.5em;
}

/* line 201, ../sass/screen.sass */
.rating {
  clear: both;
  height: 3em;
}
/* line 204, ../sass/screen.sass */
.rating .slider {
  width: 80%;
  float: left;
  margin-top: 1em;
}
/* line 208, ../sass/screen.sass */
.rating input {
  display: inline !important;
  background: transparent !important;
  width: 1.3em !important;
  border: 0 !important;
}
/* line 213, ../sass/screen.sass */
.rating .value {
  float: right;
  font-weight: bold;
  font-size: 2em;
  margin-top: -0.5em;
  width: 15%;
}

/* line 220, ../sass/screen.sass */
.rating-suggest {
  background: #efefef;
  padding: 1.5em;
  margin-top: 1.5em;
}
/* line 224, ../sass/screen.sass */
.rating-suggest .select-form label {
  display: inline;
  margin-right: 2em;
}

/* line 228, ../sass/screen.sass */
#id_comment {
  width: 80%;
  height: 3em;
  margin-bottom: 1.5em;
}

/* line 233, ../sass/screen.sass */
.user-info {
  float: right;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 244, ../sass/screen.sass */
.judging-welcome {
  min-height: 600px;
}
/* line 246, ../sass/screen.sass */
.judging-welcome .overlay {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
}
/* line 255, ../sass/screen.sass */
.judging-welcome iframe {
  z-index: 9999;
  position: absolute;
}
/* line 259, ../sass/screen.sass */
.judging-welcome .close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  text-decoration: none;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  width: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-family: sans-serif;
  color: #bbbbbb;
}
/* line 273, ../sass/screen.sass */
.judging-welcome .close-button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #eeeeee;
}
/* line 277, ../sass/screen.sass */
.judging-welcome .continue {
  position: absolute;
  width: 896px;
  top: 680px;
  text-align: center;
  z-index: 0;
}
/* line 283, ../sass/screen.sass */
.judging-welcome .continue button {
  font-size: 1.2em;
  z-index: 0;
}
