//@import url(normalize.css)

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

@font-face
  font-family: 'Interstate Light'
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.eot")
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.woff") format("woff"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.ttf") format("truetype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/interstate-light-webfont.svg#interstatelight") format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Interstate Thin'
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.eot")
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.woff") format("woff"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.ttf") format("truetype"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/Interstate-Thin.svg") format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Helvetica Neue LT Std Condensed'
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.eot")
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-Cn.svg") format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Helvetica Neue LT Std Condensed'
  src: url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.eot")
  src: local("☺"), url("http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype"), url("../http://www.watersprite.org.uk/sites/all/themes/watersprite/fonts/HelveticaNeueLTStd-BdCn.svg") format("svg")
  font-weight: bold
  font-style: normal