@import compass/css3
@import compass/utilities

@import fonts
@import normalize
@import blueprint

body
  background: #000
  width: 960px
  padding: 1.5em 0 19em 0
  margin: auto
  -webkit-font-smoothing: antialiased

h1,h2,h3,h4,h5,h6
  font-family: "Helvetica Neue LT Std Condensed", Helvetica, Arial, sans-serif
  color: $secondary-color

a
  color: #888
  font-weight: bold
  letter-spacing: -1px
  &:hover
    color: #A3C1AD

label, strong
  letter-spacing: -1px

form
  +blueprint-form
  label
    margin-top: 0.4em
    display: block
    &.tc-agree
      display: inline
  .helptext
    font-size: 0.9em
    display: block
  table
    margin: auto
    th
      text-align: right
      vertical-align: top
    td
      text-align: left
    th,td
      padding: 0.3em
  fieldset
    p
      text-align: center
  .film-file .helptext
    width: 15em
  .actions
    margin: 1.5em
    text-align: right
  .word-count-wrap
    display: block
    font-weight: bold

.error,.errorlist
  color: #b00

.errorlist
  margin: 0
  list-style: none
  padding: 0

.error
  background: rgba(255,0,0,0.2)
  border: 1px solid #a00

.warning
  background: rgba(230, 190, 0, 0.2)
  border: 1px solid rgb(230, 190, 0)
  color: rgb(135, 90, 0)

.success
  background: rgba(0,255,0,0.2)
  border: 1px solid #0a0
  color: #0a0

#id_address
  height: 4em

.submission-method ul
  list-style: none
  margin: 0
  li
    float: left
    margin-right: 1em

fieldset
  table
    width: 100%
  th
    width: 20%
  td
    width: 80%

#submission_fieldset
  th
    width: 40%
  td
    width: 60%

#tc_fieldset
  table
    width: auto
  th,td
    width: auto
  th
    width: 66.6%
    padding-left: 6%
    padding-right: 1%
  .judging-portal-agree
    label
      font-weight: normal
      letter-spacing: normal

header
  position: relative
  h1
    display: inline
    margin-left: 1.5em
    font-size: 3em
    color: #FFF
    font-weight: normal

.application
  background: #fff
  padding: 2em
  +clearfix
  fieldset
    border: 0
    background: #f6f6f6
    padding: 0
    padding-bottom: 1.5rem
    legend
      width: 100%
      background: $primary-color
      font-family: "Helvetica Neue LT Std Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 1.5em
      color: #fff
      padding: 1rem
      margin-bottom: 1.5rem
  button[type="submit"],.button
    background: $primary-color
    color: #fff
    border: 0
    padding: 1em
    font-weight: bold
    letter-spacing: -1px
    @include transition-property(background)
    @include transition-duration(0.5s)
    &:hover
      background: lighten($primary-color, 10%)


#working_overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(50,50,50,0.9)
  z-index: 9999
  text-align: center
  display: none
  .text
    position: absolute
    top: 30%
    width: 100%
    text-align: center
    color: #fff

.progress-bar
  width: 50%
  border: 2px solid #bbc
  margin: 2em auto
  text-align: center
  position: relative
  .upload-pc
    color: #bbc
    font-size: 0.8em
  .inner
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #bbc
    z-index: -1

// JUDGING PLATFORM

.video-player
  float: right
  background: #000
  color: #fff
  margin-left: 1.5em

.rating
  clear: both
  height: 3em
  .slider
    width: 80%
    float: left
    margin-top: 1em
  input
    display: inline !important
    background: transparent !important
    width: 1.3em !important
    border: 0 !important
  .value
    float: right
    font-weight: bold
    font-size: 2em
    margin-top: -0.5em
    width: 15%

.rating-suggest
  background: #efefef
  padding: 1.5em
  margin-top: 1.5em
  .select-form label
    display: inline
    margin-right: 2em

#id_comment
  width: 80%
  height: 3em
  margin-bottom: 1.5em

.user-info
  float: right
  color: #fff
  position: absolute
  right: 0
  bottom: 0


// Snazzy video thing


.judging-welcome
  min-height: 600px
  .overlay
    background: #000
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 9000

  iframe
    z-index: 9999
    position: absolute

  .close-button
    position: absolute
    top: 40px
    right: 40px
    text-decoration: none
    font-weight: bold
    background: rgba(255,255,255,0.1)
    width: 25px
    line-height: 25px
    text-align: center
    +transition-property(background, color)
    +transition-duration(0.2s)
    font-family: sans-serif
    color: #bbb
    &:hover
      background: rgba(255,255,255,0.2)
      color: #eee

  .continue
    position: absolute
    width: 896px
    top: 680px
    text-align: center
    z-index: 0
    button
      font-size: 1.2em
      z-index: 0
