{% load static %}

<!doctype html>
<html>
<head>
    <title>Watersprite Online Submission Form</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="print"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.scrollto.js' %}"></script>
    <script src="{% static 'js/entries.js' %}"></script>
</head>

<body>

<header>
    <img src="http://watersprite.org.uk/sites/all/themes/watersprite/images/logo.png" />
    {% if user.is_authenticated %}
    <div class="user-info">
        Welcome, <b>{{ user.first_name }} {{ user.last_name }}</b>. <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% endif %}
</header>
<div class="application" id="application">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block main %}
{% endblock %}
</div>

</body>
</html>
