{% extends 'base.html' %}
{% block main %}

    {% if before_open %}
    <h1>Coming soon...</h1>
<p>Entries for {{ current_competition }} open on <strong>{{ current_competition.entries_open.date }} at {{ current_competition.entries_open.time }}</strong>.  Please come back then to submit your film!</p>
    {% elif after_close %}
    <h1>Closed</h1>
    <p>Entries for {{ current_competition }} are now closed.  We wish the very best of luck to everyone who has already entered.</p>
    {% else %}
    <p>Entries are currently closed.</p>
    {% endif %}
<p><a href="http://www.watersprite.org.uk">Return to the Watersprite website</a></p>

{% endblock %}