{% extends 'base.html' %}

{% block main %}
    <div id="working_overlay"><div class="text">
        <p>Working...</p>
        <div id="progress_bar" class="progress-bar">
            <span id="upload_pc" class="upload-pc">0%</span>
            <div id="progress_inner" class="inner"></div>
        </div>
        <div id="upload_status"></div>

    </div></div>
    <h2>Instructions</h2>
    <p>Welcome to the <strong>{{ current_competition.name }}</strong> submissions form.</p>
    <ul>
        <li>For the best experience, use Google Chrome, Safari or Firefox to upload your film.</li>
        <li>The file you upload does <strong>not</strong> not need to be screening quality.  Larger files take a very long time to upload so please keep your files as small as possible.</li>
        <li>You will see a <strong>confirmation screen</strong> with your entry reference number when your film has been successfully uploaded and your entry correctly recorded.</li>
        <li>If you have any problems, please contact <a href="mailto:webmaster@watersprite.org">webmaster@watersprite.org</a> for help.</li>
    </ul>

    {% if current_competition.is_full %}
    <p class="warning"><strong>PLEASE NOTE:</strong> The entries limit for {{ current_competition.name }} has now been reached.  All entries submitted from now on will be placed on a waiting list and you will be notified if your entry makes it into the competition.</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" id="entry_form">

    <fieldset>
        <legend>Film name</legend>
        <table>
            <tr>
                <th>{{ form.film_name.label_tag }}</th>
                <td>{{ form.film_name.errors }}
{{ form.film_name }}
                    {{ form.film_name.helptext }}</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Your details</legend>
        <table>
            <tr>
                <th>{{ form.first_name.label_tag }}</th>
                <td>{{ form.first_name.errors }}
{{ form.first_name }}
                <span class="helptext">{{ form.first_name.help_text }}</span></td>
            </tr>
            
            <tr>
                <th>{{ form.surname.label_tag }}</th>
                <td>{{ form.surname.errors }}
{{ form.surname }}
                    <span class="helptext">{{ form.surname.help_text }}</span></td>
            </tr>
            
            <tr>
                <th>{{ form.email_address.label_tag }}</th>
                <td>{{ form.email_address.errors }}
{{ form.email_address }}
                    <span class="helptext">{{ form.email_address.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.phone_number.label_tag }}</th>
                <td>{{ form.phone_number.errors }}
{{ form.phone_number }}
                    <span class="helptext">{{ form.phone_number.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.address.label_tag }}</th>
                <td>{{ form.address.errors }}
{{ form.address }}
                    <span class="helptext">{{ form.address.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.country.label_tag }}</th>
                <td>{{ form.country.errors }}
{{ form.country }}
                    <span class="helptext">{{ form.country.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.university.label_tag }}</th>
                <td>{{ form.university.errors }}
{{ form.university }}
                    <span class="helptext">{{ form.university.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.main_contact_role.label_tag }}</th>
                <td>{{ form.main_contact_role.errors }}
                    {{ form.main_contact_role }}
                    <span class="helptext">{{ form.main_contact_role.help_text }}</span></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Film details</legend>
        <table>
            <tr>
                <th>{{ form.film_synopsis.label_tag }}</th>
                <td>{{ form.film_synopsis.errors }}
{{ form.film_synopsis }}
                    <span class="helptext">{{ form.film_synopsis.help_text }}
                        <span class="word-count-wrap">(Current word count: <span class="word-count">0</span> words)</span></span></td>
            </tr>

            <tr>
                <th>{{ form.film_length.label_tag }}</th>
                <td>{{ form.film_length.errors }}
{{ form.film_length }}
                    <span class="helptext">{{ form.film_length.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.film_language.label_tag }}</th>
                <td>{{ form.film_language.errors }}
{{ form.film_language }}
                    <span class="helptext">{{ form.film_language.help_text }}</span>
                </td>

            </tr>

            <tr>
                <th>{{ form.original_language.label_tag }}</th>
                <td>{{ form.original_language.errors }}
                    {{ form.original_language }}
                    <span class="helptext">{{ form.original_language.help_text }}</span>
                </td>

            </tr>

            <tr>
                <th>{{ form.genre.label_tag }}</th>
                <td>{{ form.genre.errors }}
{{ form.genre }}
                    <span class="helptext">{{ form.genre.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.award_categories.label_tag }}</th>
                <td>{{ form.award_categories.errors }}
                    {{ form.award_categories }}

                    <span class="helptext">You may select up to two award categories to enter your film into.</span>
                </td>
            </tr>

            <tr>
                <th>{{ form.directors_name.label_tag }}</th>
                <td>{{ form.directors_name.errors }}
{{ form.directors_name }}
                    <span class="helptext">{{ form.directors_name.help_text }}</span></td>
            </tr>
            <tr>
                <th>{{ form.directors_email.label_tag }}</th>
                <td>{{ form.directors_email.errors }}
                    {{ form.directors_email }}
                    <span class="helptext">{{ form.directors_email.help_text }}</span></td>
            </tr>
            <tr>
                <th>{{ form.directors_address.label_tag }}</th>
                <td>{{ form.directors_address.errors }}
                    {{ form.directors_address }}
                    <span class="helptext">{{ form.directors_address.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.producers_name.label_tag }}</th>
                <td>{{ form.producers_name.errors }}
{{ form.producers_name }}
                    <span class="helptext">{{ form.producers_name.help_text }}</span></td>
            </tr>
            <tr>
                <th>{{ form.producers_email.label_tag }}</th>
                <td>{{ form.producers_email.errors }}
                    {{ form.producers_email }}
                    <span class="helptext">{{ form.producers_email.help_text }}</span></td> :
            </tr>
            <tr>
                <th>{{ form.producers_address.label_tag }}</th>
                <td>{{ form.producers_address.errors }}
                    {{ form.producers_address }}
                    <span class="helptext">{{ form.producers_address.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.screenshot.label_tag }}</th>
                <td>{{ form.screenshot.errors }}
{{ form.screenshot }}
                    {{ form.screenshot2 }}
                    {{ form.screenshot3 }}
                    <span class="helptext">{{ form.screenshot.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.press_pack.label_tag }}</th>
                <td>{{ form.press_pack.errors }}
                {{ form.press_pack }}
                <span class="helptext">{{ form.press_pack.help_text }}</span></td>
            </tr>

            <tr>
                <th>{{ form.previous_awards.label_tag }}</th>
                <td>{{ form.previous_awards.errors }}
                    {{ form.previous_awards }}
                    <span class="helptext">{{ form.previous_awards.help_text }}</span></td>
            </tr>

        </table>
    </fieldset>

    <fieldset id="tc_fieldset">
        <legend>Terms &amp; Conditions</legend>
        <ul>
            <li>I declare that I was a student at the time this film was made, and agree to provide proof of matriculation if necessary.</li>
            <li>I confirm that this film completed production in 2011 or later.</li>
            <li>I confirm that this film has not previously been submitted to Watersprite (or Cam*Era as it was previously known).</li>
            <li>I confirm that I am authorised to enter this film and that all rights and clearances have been obtained, including, but not limited to, any music, script or other intellectual property.</li>
            <li>I give permission for Watersprite to use stills or clips of my film for promotional purposes from the closure of the submissions deadline in November 2012 up to and including the Watersprite festival in 2014.</li>
            <li>I give permission for Watersprite to screen my film in full during the Watersprite festival in 2013, but realise that Watersprite is under no obligation to do so.</li>
            <li>If there are any rights NOT cleared for television or web broadcast of clips of this film, I will email details to the Watersprite team at submissions@watersprite.org upon successful submission of my entry.</li>
            <li>I give permission for Watersprite to disclose the contact information I provide to any interested third parties. Watersprite will always use its discretion, and will never knowingly disclose them to anyone without an interest specific to this film.</li>
            <li>I confirm that I am submitting my film in accordance with the format guidelines displayed on www.watersprite.org and that if my film does not meet these criteria, it may not be entered into the competition.</li>
            <li>I agree that if I am nominated I willprovide Watersprite with a screening-quality DVD, by 10 February 2013.. Watersprite agrees to inform me about the requirements of this DVD by 22 January 2013.</li>
            <li>I understand that while Watersprite may provide me with feedback from judges, it is under no obligation to do so, and cannot enter into discussion about judges’ decisions for either the shortlist or nominations.</li>
            <li>I hereby indemnify Watersprite against any and all actions resulting from any breach of this declaration, including all claims, suits, costs, damages, judgements and expenses in connection with the usage of any clip of this film.</li>
        </ul>
        <p><strong>Please check the following box to confirm that you have read and agree to the above Terms &amp; Conditions</strong></p>
        <table>
            <tr>
                <th><label for="id_tc_agree" class="tc-agree">I agree to the Terms &amp; Conditions of Entry</label></th>
                <td>{{ form.tc_agree.errors }}
                    {{ form.tc_agree }}</td>
            </tr>
            <tr class="judging-portal-agree">
                <th><label for="id_judging_portal_agree">Your film will be available on a restricted access viewing portal with a reach of 6 million viewers for a limited 30 day period. If you would not like this to happen, please uncheck this box.</label> </th>
                <td>{{ form.judging_portal_agree.errors }}
                    {{ form.judging_portal_agree }}</td>
            </tr>
        </table>
    </fieldset>

    <fieldset id="submission_fieldset">
        <legend>Submission</legend>
        <table>
            <tr class="submission-method">
                <th>{{ form.submission_method.label_tag }}</th>
                <td>{{ form.submission_method.errors }}
{{ form.submission_method }}</td>
            </tr>
            <tr class="film-file" id="film_file_field">
                <th>{{ form.film_file.label_tag }}</th>
                <td>{{ form.film_file.errors }}
{{ form.film_file }}
                    <span class="helptext">{{ form.film_file.help_text }}</span>
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="actions">
        <button type="submit">Submit your film <i class="icon-chevron-right"></i></button>
    </div>

    {% csrf_token %}
</form>

    <script type="text/javascript">
    $(function() {
        $('#id_film_synopsis').keyup(function() {
            var matches = this.value.match(/\b/g);
            var wordCount = matches ? matches.length / 2 : 0;
            $(this).parent().find('.word-count').html(wordCount);
        })
    })
    </script>
{% endblock %}