<div class="screen-only">
<h1>Thank you</h1>
{% if object.is_waiting_list %}
<p>Your submission reference is <strong>#{{ object.get_code }}</strong>.</p>
<p class="error">As the submissions limit has now been reached, your entry has been submitted to the waiting list for {{ object.competition }}.  You are currently not entered for the competition, but you will be notified if space becomes available.</p>
{% else %}
<p>Your entry has been successfully submitted and your submission reference is <strong>#{{ object.get_code }}</strong>. Please keep a note of this for your records.</p>
{% endif %}
{% if object.is_dvd %}
<h1>Offline submission</h1>
<p><strong>IMPORTANT:</strong> as you are submitting your entry offline via DVD, you MUST print a receipt and enclose it with your submission.</p>
    <p><button class="button" id="#print_button" onclick="window.print();">Print receipt</button></p>
    </div>
<div class="print-only">
    <h1>Online submission receipt <strong>#{{ object.get_code }}</strong></h1>
    <p><strong>FILM NAME:</strong>{{ object.film_name }}</p>
    <p><strong>EMAIL:</strong> {{ object.email_address }}</p>
    <p><strong>RECEIVED:</strong> {{ object.uploaded_on }}</p>
</div>
    <p class="screen-only"><a href="http://www.watersprite.org.uk">Return to the Watersprite website</a></p>

{% endif %}